### Q1
List the basic data types in python and give one example each.

In [4]:
Python_Data_types = "String, Boolean, Integer and Float"
print("Data Types in Python: " + Python_Data_types)

Data Types in Python: String, Boolean, Integer and Float

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [4]:
# (i) a string and assign it to a new variable y
x = 4539.85
y = str(x)
type(y)

str

In [5]:
# (ii) an integer and assign it to a new variable z
x = 4539.85
z = int(x)
type(z)

int

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

h. The name of a school

i. The average result of the overall score of a student

j. The total number of vote cast

In [7]:
# a. Float
# b. Integer
# c. String
# d. Float
# e. Integer
# f. Float
# g. Float
# h. String
# i. FLoat
# j. Integer

### Q5
What values does python use to represent **True** and **False** respectively?

In [2]:
# Boolean

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [3]:
x = 78
x > 46 & x < 30 & x%2 != 0

False

In [4]:
y = 8-2
t = 8
y%2 == 0 & t%2 != 0

False

In [24]:
b = 'boostrap'
s = 'sample'


if len(b) == 7:
    print (f"{b} has 7 characters")
else:
    print (f"{b} doesn't have 7 characters")
  
    
if len(s) == 6:
    print (f"{s} has 6 characters")
else:
    print (f"{s} doesn't have 6 characters")

boostrap doesn't have 7 characters
sample has 6 characters

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [38]:
word = 'Hello, How are you?'

print(f'1. {word[7:10]}')
print(f'2. {word[7:20]}')
print(f'3. {word[11:14]}')
print(f'4. {word[18:19]}')
print(f'5. {word[:18]}')

1. How
2. How are you?
3. are
4. ?
5. Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [47]:
sentence = "I am very excited"

print(sentence.upper())
print(sentence.lower())
print(sentence.title())
print(sentence.split())

I AM VERY EXCITED
i am very excited
I Am Very Excited
['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [51]:
word = 'OneThirtyEight'

print(f'1. {word[:3]}')
print(f'2. {word[3:9]}')
print(f'3. {word[9:16]}')
print(f'4. {word[:9]}')
print(f'5. {word[3:16]}')
print(f'6. {word.upper()}')

1. One
2. Thirty
3. Eight
4. OneThirty
5. ThirtyEight
6. ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [61]:
name = str("Ault'Kelly")

print(name)

Ault'Kelly